* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #314659;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #314659;
    padding: 10px 20px;
}

.logo {
    text-align: left;
    padding: 10px;
}

.logo img {
    width: 200px;
    height: auto;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tela-login {
    background-color: #0085c7;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 250px;
    font-size: 16px;
    border-radius: 15px;
    padding: 30px;
}

h1 {
    font-size: 20px;
    color: white;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 35px;
    margin-top: 8px;
    padding: 4.5px 10px;
    border: none;
    font-size: 0.8rem;
}

input[type="submit"] {
    background-color: #009f3d;
    width: 80px;
    border-radius: 15px;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

#campo {
    margin-bottom: 10px;
}